/* line 1, ../sass/admin.sass */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/admin.sass */
html body {
  width: 100%;
  height: 100%;
  font-family: Oswald, sans-serif;
  background-color: #c8cfdc;
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/admin.sass */
html body .wrapper {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
}
/* line 30, ../sass/admin.sass */
html body .wrapper .content {
  background-color: #ffffff;
  overflow: auto;
  margin-top: 0;
  padding: 0;
  width: auto;
  position: relative;
  height: 100%;
}
/* line 40, ../sass/admin.sass */
html body .wrapper .content .nav {
  margin-top: 0;
  background-color: #3f4040;
  font-family: Oswald, sans-serif;
  color: #ffffff;
  width: 300px;
  position: fixed;
  height: 100%;
}
/* line 49, ../sass/admin.sass */
html body .wrapper .content .nav .nav-list {
  margin-top: 200px;
  list-style: none;
}
/* line 53, ../sass/admin.sass */
html body .wrapper .content .nav .nav-list i {
  padding-right: 10px;
  font-size: 20px;
}
/* line 58, ../sass/admin.sass */
html body .wrapper .content .nav .nav-list .categ ul, html body .wrapper .content .nav .nav-list .brand ul, html body .wrapper .content .nav .nav-list .prods ul, html body .wrapper .content .nav .nav-list .users ul {
  list-style: none;
  margin: 20px 0;
}
/* line 61, ../sass/admin.sass */
html body .wrapper .content .nav .nav-list .hidden {
  display: none;
}
/* line 63, ../sass/admin.sass */
html body .wrapper .content .form {
  position: absolute;
  width: auto;
  margin-left: 300px;
}
/* line 72, ../sass/admin.sass */
html body .wrapper .content .form select {
  margin: 196px 350px;
}
/* line 75, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper {
  float: left;
  margin: 30px 30px;
}
/* line 79, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper .categories-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
/* line 85, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper .categories-table tr .fa-pencil {
  color: green;
  font-size: 20px;
}
/* line 89, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper .categories-table tr .fa-times-circle {
  color: red;
  font-size: 20px;
}
/* line 94, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper h1 {
  text-align: center;
}
/* line 97, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form {
  text-align: center;
}
/* line 103, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table {
  width: 100%;
}
/* line 107, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table td {
  margin: 20px;
}
/* line 111, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column {
  margin: 10px;
  text-align: center;
}
/* line 117, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column #preview-photo li {
  display: inline-block;
}
/* line 120, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column #preview-photo li .img canvas {
  width: 50px;
  height: 50px;
}
/* line 126, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column label {
  display: inline-block;
  margin: 20px;
  padding: 0 8px;
}
/* line 131, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column input {
  margin: 10px 20px;
  padding: 10px 20px;
  width: auto;
}
/* line 138, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .upload-button input {
  display: none;
}
/* line 141, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .upload-button .file-img {
  display: inline-block;
}
/* line 144, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .upload-button .select-button {
  background-color: #3f4040;
  color: white;
  border: none;
  width: 100px;
  height: 25px;
  margin: 0;
  padding-top: 10px;
  font-size: 10px;
  display: inline-block;
}
/* line 155, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .upload-button .select-button p {
  margin: 0;
  padding: 0;
}
/* line 160, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .fa-plus-circle {
  color: darkgreen;
  margin-left: 10px;
  opacity: 0.5;
}
/* line 166, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .fa-plus-circle:hover {
  opacity: 1;
}
/* line 169, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .fa-times-circle {
  display: none;
  color: red;
  margin-left: 10px;
  opacity: 0.5;
}
/* line 174, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column .fa-times-circle:hover {
  opacity: 1;
}
/* line 182, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color div ul li {
  display: inline-block;
}
/* line 185, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color div ul li .img canvas {
  width: 50px;
  height: 50px;
}
/* line 191, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color label {
  display: inline-block;
  margin: 20px;
  padding: 0 8px;
}
/* line 196, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color input {
  margin: 10px 20px;
  padding: 10px 20px;
  width: auto;
}
/* line 203, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .upload-button input {
  display: none;
}
/* line 206, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .upload-button .file-img {
  display: inline-block;
}
/* line 209, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .upload-button .select-button {
  background-color: #3f4040;
  color: white;
  border: none;
  width: 100px;
  height: 25px;
  margin: 0;
  padding-top: 10px;
  font-size: 10px;
  display: inline-block;
}
/* line 220, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .upload-button .select-button p {
  margin: 0;
  padding: 0;
}
/* line 225, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .fa-plus-circle {
  color: darkgreen;
  margin-left: 10px;
  opacity: 0.5;
}
/* line 230, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .fa-plus-circle:hover {
  opacity: 1;
}
/* line 233, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .fa-times-circle {
  display: none;
  color: red;
  margin-left: 10px;
  opacity: 0.5;
}
/* line 238, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .column-color .fa-times-circle:hover {
  opacity: 1;
}
/* line 243, ../sass/admin.sass */
html body .wrapper .content .form .form-wrapper form table .buttons button {
  background-color: #3f4040;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  margin: 20px 60px;
  font-size: 15px;
}
