/* line 1, ../sass/index.scss */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/index.scss */
html body {
  width: 100%;
  height: 100%;
  font-family: Oswald, sans-serif;
  background-color: #c8cfdc;
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/index.scss */
html body .wrapper {
  width: auto;
  max-width: 1280px;
  margin: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  /* line 15, ../sass/index.scss */
  html body .wrapper {
    margin: 50px auto 0 auto;
  }
}
@media screen and (max-width: 905px) {
  /* line 15, ../sass/index.scss */
  html body .wrapper {
    margin: 0;
  }
}
/* line 30, ../sass/index.scss */
html body .wrapper .header {
  width: auto;
  height: 90px;
  background-color: #f2f9fd;
  margin: 0;
}
@media screen and (max-width: 905px) {
  /* line 30, ../sass/index.scss */
  html body .wrapper .header {
    width: auto;
    height: 90px;
    background-color: #f2f9fd;
    margin: 0;
  }
}
/* line 43, ../sass/index.scss */
html body .wrapper .header .logo {
  float: left;
  display: inline-block;
  margin: 20px 0 0 20px;
}
/* line 49, ../sass/index.scss */
html body .wrapper .header .nav {
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}
@media screen and (max-width: 905px) {
  /* line 49, ../sass/index.scss */
  html body .wrapper .header .nav {
    display: none;
  }
}
/* line 59, ../sass/index.scss */
html body .wrapper .header .nav .nav__list {
  margin: 0;
  padding: 0;
}
/* line 63, ../sass/index.scss */
html body .wrapper .header .nav .nav__list a {
  text-decoration: none;
  color: #080808;
  text-transform: uppercase;
  font-size: 0.7em;
}
/* line 70, ../sass/index.scss */
html body .wrapper .header .nav .nav__list li {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
}
/* line 78, ../sass/index.scss */
html body .wrapper .header .search {
  float: right;
  display: inline-block;
  margin-top: 35px;
  white-space: nowrap;
  vertical-align: middle;
}
@media screen and (max-width: 905px) {
  /* line 78, ../sass/index.scss */
  html body .wrapper .header .search {
    float: left;
    display: inline-block;
    margin-top: 35px;
    margin-left: 10px;
    white-space: nowrap;
    vertical-align: middle;
  }
}
/* line 94, ../sass/index.scss */
html body .wrapper .header .search .search__form__icon {
  color: #666666;
}
/* line 100, ../sass/index.scss */
html body .wrapper .header .search .search__form__input {
  background-color: inherit;
  border: none;
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #080808;
}
/* line 109, ../sass/index.scss */
html body .wrapper .header .search .search__form__input::-webkit-input-placeholder {
  padding-right: 20px;
}
/* line 116, ../sass/index.scss */
html body .wrapper .header .user {
  float: right;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}
@media screen and (max-width: 905px) {
  /* line 116, ../sass/index.scss */
  html body .wrapper .header .user {
    display: none;
  }
}
/* line 126, ../sass/index.scss */
html body .wrapper .header .user .user__buttons {
  margin: 0;
  padding: 0;
}
/* line 130, ../sass/index.scss */
html body .wrapper .header .user .user__buttons li {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
}
/* line 136, ../sass/index.scss */
html body .wrapper .header .user .user__buttons a {
  text-decoration: none;
  color: #080808;
  text-transform: uppercase;
  font-size: 0.7em;
}
/* line 143, ../sass/index.scss */
html body .wrapper .header .user .user__buttons .fa {
  margin-right: 5px;
}
/* line 150, ../sass/index.scss */
html body .wrapper .header .hamburger {
  display: none;
}
@media screen and (max-width: 905px) {
  /* line 150, ../sass/index.scss */
  html body .wrapper .header .hamburger {
    display: inline-block;
    float: right;
    margin: 35px 30px 0 0;
  }
  /* line 158, ../sass/index.scss */
  html body .wrapper .header .hamburger .fa {
    font-size: 1.4em;
  }
}
/* line 165, ../sass/index.scss */
html body .wrapper .header .hide-menu {
  position: absolute;
  width: 200px;
  float: right;
  right: 8px;
  margin-top: 90px;
  margin-left: 0;
  background-color: #f2f9fd;
  display: inline-block;
  margin-right: 0;
  border-top: solid 1px;
  border-color: rgba(11, 15, 23, 0.45);
  z-index: 200;
}
/* line 181, ../sass/index.scss */
html body .wrapper .header .hide-menu .hide-menu__nav .hide-menu__nav__list {
  list-style-type: none;
  padding-left: 65px;
  text-transform: uppercase;
}
/* line 186, ../sass/index.scss */
html body .wrapper .header .hide-menu .hide-menu__nav .hide-menu__nav__list a {
  text-decoration: none;
  padding-top: 5px;
  color: #080808;
}
/* line 197, ../sass/index.scss */
html body .wrapper .header .hide-menu .hide-menu__user__buttons {
  list-style-type: none;
  padding-left: 65px;
  text-transform: uppercase;
}
/* line 202, ../sass/index.scss */
html body .wrapper .header .hide-menu .hide-menu__user__buttons a {
  text-decoration: none;
  padding-top: 5px;
  color: #080808;
}
/* line 208, ../sass/index.scss */
html body .wrapper .header .hide-menu .hide-menu__user__buttons .fa {
  margin-right: 5px;
}
/* line 215, ../sass/index.scss */
html body .wrapper .content {
  overflow: auto;
  padding: 0 0 229px;
}
@media screen and (max-width: 905px) {
  /* line 215, ../sass/index.scss */
  html body .wrapper .content {
    padding: 0 0 482px;
  }
}
/* line 223, ../sass/index.scss */
html body .wrapper .content .slider-container {
  width: 100%;
  height: auto;
}
/* line 227, ../sass/index.scss */
html body .wrapper .content .slider-container .slider {
  width: 100vw;
  height: 40vw;
  max-width: 1280px;
  max-height: 512px;
  overflow: hidden;
  border: none;
  position: relative;
  text-align: center;
  z-index: 0;
}
/* line 238, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .slide {
  width: 100%;
  height: 100%;
}
/* line 242, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .slide img {
  width: 100%;
  height: 100%;
}
/* line 248, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .prew-btn, html body .wrapper .content .slider-container .slider .next-btn {
  display: block;
  position: absolute;
  top: calc(50% - 30px);
  font-size: 30px;
  overflow: hidden;
  color: #808080;
  opacity: 0.7;
  z-index: 3;
}
/* line 259, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .prew-btn {
  left: 20px;
}
/* line 262, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .prew-btn:hover {
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  transform: translateY(-10%);
}
/* line 271, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .next-btn {
  right: 20px;
}
/* line 274, ../sass/index.scss */
html body .wrapper .content .slider-container .slider .next-btn:hover {
  opacity: 1;
  color: #ffffff;
  font-size: 40px;
  transform: translateY(-10%);
}
/* line 284, ../sass/index.scss */
html body .wrapper .content .random-items {
  background-color: #c8cfdc;
}
/* line 287, ../sass/index.scss */
html body .wrapper .content .random-items .all {
  vertical-align: top;
  display: inline-block;
  background-color: #ffffff;
  margin: 40px 10px 0;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 296, ../sass/index.scss */
html body .wrapper .content .random-items .all p {
  margin-top: 203px;
  margin-bottom: 0;
}
/* line 303, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands {
  display: block;
  width: 100%;
  overflow: auto;
  text-align: center;
  margin: 20px auto 60px;
}
/* line 310, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands .section {
  float: left;
  width: auto;
  display: block;
  background-color: #f2f9fd;
  margin: 20px 45px;
}
/* line 317, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands .section span {
  width: auto;
  display: block;
  padding: 10px 30px;
  font-weight: lighter;
}
/* line 326, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands .random-brands__container {
  text-align: center;
  clear: both;
  padding: 20px;
}
/* line 331, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands .random-brands__container .brand1 {
  display: inline-block;
  background-color: #ffffff;
  margin: 40px 10px 0;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 359, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands .random-brands__container .brand1 img {
  margin-top: 85px;
  width: 90%;
}
/* line 370, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories {
  display: block;
  width: 100%;
  overflow: auto;
  text-align: center;
  margin: 20px auto 60px;
}
/* line 377, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .section {
  float: left;
  width: auto;
  display: block;
  background-color: #f2f9fd;
  margin: 20px 45px;
}
/* line 384, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .section span {
  width: auto;
  display: block;
  padding: 10px 30px;
  font-weight: lighter;
}
/* line 393, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .random-categories__container {
  text-align: center;
  clear: both;
  padding: 20px;
}
/* line 398, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .random-categories__container .category {
  display: inline-block;
  margin: 40px 10px 0;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 405, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .random-categories__container .category .cat-name {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 412, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .random-categories__container .category .model {
  display: block;
  color: #acacac;
  font-weight: lighter;
  font-size: 15px;
}
/* line 419, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .random-categories__container .category .price {
  margin-top: 20px;
  display: block;
  color: #333333;
}
/* line 425, ../sass/index.scss */
html body .wrapper .content .random-items .random-categories .random-categories__container .category img {
  margin-top: 150px;
  width: 90%;
}
/* line 435, ../sass/index.scss */
html body .wrapper .content .random-items .random-products {
  display: block;
  width: 100%;
  overflow: auto;
  text-align: center;
  margin: 20px auto 60px;
}
/* line 443, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .section {
  float: left;
  width: auto;
  display: block;
  background-color: #f2f9fd;
  margin: 20px 45px;
}
/* line 450, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .section span {
  width: auto;
  display: block;
  padding: 10px 30px;
  font-weight: lighter;
}
/* line 459, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .random-products__container {
  text-align: center;
  clear: both;
  padding: 20px;
}
/* line 464, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .random-products__container .product {
  display: inline-block;
  background-color: #ffffff;
  margin: 40px 10px 0;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 472, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .random-products__container .product .brand {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  color: #3333333;
}
/* line 479, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .random-products__container .product .model {
  display: block;
  color: #acacac;
  font-weight: lighter;
  font-size: 15px;
}
/* line 486, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .random-products__container .product .price {
  margin-top: 20px;
  display: block;
  color: #333333;
}
/* line 492, ../sass/index.scss */
html body .wrapper .content .random-items .random-products .random-products__container .product img {
  margin-top: 150px;
  width: 90%;
}
/* line 501, ../sass/index.scss */
html body .wrapper .content .random-items .brand1, html body .wrapper .content .random-items .category, html body .wrapper .content .random-items .product {
  transition: all .15s ease-in;
  z-index: 0;
}
/* line 506, ../sass/index.scss */
html body .wrapper .content .random-items .brand1:hover, html body .wrapper .content .random-items .category:hover, html body .wrapper .content .random-items .product:hover {
  transform: scale(1.15);
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* line 512, ../sass/index.scss */
html body .wrapper .content .random-items .random-brands, html body .wrapper .content .random-items .random-categories, html body .wrapper .content .random-items .random-products {
  margin: 20px auto;
  padding: 20px 0;
}
/* line 519, ../sass/index.scss */
html body .wrapper .content .section {
  float: left;
  width: auto;
  display: block;
  background-color: #f2f9fd;
  margin: 20px 45px;
}
/* line 526, ../sass/index.scss */
html body .wrapper .content .section span {
  width: auto;
  display: block;
  padding: 10px 30px;
  font-weight: lighter;
}
/* line 534, ../sass/index.scss */
html body .wrapper .content .map {
  clear: both;
  display: block;
  width: 34vw;
  height: 34vw;
  min-width: 300px;
  min-height: 300px;
  max-height: 400px;
  max-width: 400px;
  padding: 20px;
  margin: 20px auto;
  background-color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 400px) {
  /* line 534, ../sass/index.scss */
  html body .wrapper .content .map {
    min-width: 250px;
    min-height: 250px;
  }
}
/* line 551, ../sass/index.scss */
html body .wrapper .content .map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 400px) {
  /* line 551, ../sass/index.scss */
  html body .wrapper .content .map iframe {
    min-width: 230px;
    min-height: 230px;
  }
}
/* line 569, ../sass/index.scss */
html .footer {
  position: relative;
  background-color: #080808;
  max-width: 1280px;
  height: 229px;
  margin: -229px auto 0 auto;
}
@media screen and (max-width: 905px) {
  /* line 569, ../sass/index.scss */
  html .footer {
    height: 482px;
    background-color: #080808;
    margin: -482px 0 0 0;
  }
}
/* line 582, ../sass/index.scss */
html .footer .footer__logo {
  display: inline-block;
  float: left;
  padding-left: 60px;
  padding-top: 40px;
}
@media screen and (max-width: 905px) {
  /* line 582, ../sass/index.scss */
  html .footer .footer__logo {
    width: 100%;
    float: none;
    text-align: center;
    margin: 40px auto 0 auto;
    padding: 0;
    justify-content: center;
  }
}
/* line 598, ../sass/index.scss */
html .footer .footer__navigation {
  display: inline-block;
  padding-top: 40px;
}
@media screen and (max-width: 905px) {
  /* line 598, ../sass/index.scss */
  html .footer .footer__navigation {
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    text-align: center;
  }
}
/* line 609, ../sass/index.scss */
html .footer .footer__navigation ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'BenchNine', sans-serif;
  padding-top: 0;
  margin-top: 0;
  list-style-type: none;
}
@media screen and (max-width: 905px) {
  /* line 609, ../sass/index.scss */
  html .footer .footer__navigation ul {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'BenchNine', sans-serif;
    padding-top: 0;
    margin: 0 20px;
    list-style-type: none;
    padding-left: 0;
  }
}
/* line 632, ../sass/index.scss */
html .footer .footer__navigation a {
  color: #666666;
  text-decoration: none;
}
/* line 637, ../sass/index.scss */
html .footer .footer__navigation a:hover {
  color: #00b3ee;
}
/* line 642, ../sass/index.scss */
html .footer .footer__socials-subs {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 50px;
  margin-right: 1%;
  margin-bottom: 0;
}
@media screen and (max-width: 905px) {
  /* line 642, ../sass/index.scss */
  html .footer .footer__socials-subs {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }
}
/* line 656, ../sass/index.scss */
html .footer .footer__socials-subs .socials {
  display: block;
}
/* line 659, ../sass/index.scss */
html .footer .footer__socials-subs .socials .footer__socials__item {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  max-width: 50px;
  max-height: 50px;
  min-width: 42px;
  min-height: 42px;
  margin: 0 0.5vw;
  border: #555656 1px solid;
  text-align: center;
}
/* line 671, ../sass/index.scss */
html .footer .footer__socials-subs .socials .footer__socials__item .fa {
  padding: 15% 0;
  font-size: 200%;
  color: #555656;
}
/* line 679, ../sass/index.scss */
html .footer .footer__socials-subs .footer__subscribe {
  display: block;
  float: right;
  border-bottom: solid #252626;
  padding-bottom: 10px;
  width: 94%;
  margin-right: 3%;
  margin-top: 20px;
}
@media screen and (max-width: 905px) {
  /* line 679, ../sass/index.scss */
  html .footer .footer__socials-subs .footer__subscribe {
    float: none;
    border-bottom: solid #252626;
    padding-bottom: 10px;
    width: 18vw;
    min-width: 141px;
    text-align: center;
    margin: 20px auto 10px;
  }
}
/* line 698, ../sass/index.scss */
html .footer .footer__socials-subs .footer__subscribe .fa {
  color: #555656;
  background-color: inherit;
  font-size: 1em;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1px;
}
/* line 709, ../sass/index.scss */
html .footer .footer__socials-subs .footer__subscribe .footer__subscribe__form__input {
  background-color: inherit;
  border: none;
  font-family: 'BenchNine', sans-serif;
  width: auto;
  font-size: 0.9em;
  color: #555656;
  outline: none;
  margin-left: 10px;
}
/* line 722, ../sass/index.scss */
html .footer .copyright {
  color: #555656;
  text-align: center;
  padding-bottom: 25px;
}
