/* line 1, ../sass/jcarousel.scss */
.jcarousel {
  position: relative;
  overflow: hidden;
}
/* line 5, ../sass/jcarousel.scss */
.jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/jcarousel.scss */
.jcarousel ul li {
  float: left;
}
