/* line 1, ../sass/productList.scss */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/productList.scss */
html body {
  width: 100%;
  height: 100%;
  font-family: Oswald, sans-serif;
  background-color: #c8cfdc;
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/productList.scss */
html body .wrapper {
  width: auto;
  max-width: 1280px;
  margin: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  /* line 15, ../sass/productList.scss */
  html body .wrapper {
    margin: 50px auto 0 auto;
  }
}
@media screen and (max-width: 905px) {
  /* line 15, ../sass/productList.scss */
  html body .wrapper {
    margin: 0;
  }
}
/* line 30, ../sass/productList.scss */
html body .wrapper .header {
  width: auto;
  height: 90px;
  background-color: #f2f9fd;
  margin: 0;
}
@media screen and (max-width: 905px) {
  /* line 30, ../sass/productList.scss */
  html body .wrapper .header {
    width: auto;
    height: 90px;
    background-color: #f2f9fd;
    margin: 0;
  }
}
/* line 43, ../sass/productList.scss */
html body .wrapper .header .logo {
  float: left;
  display: inline-block;
  margin: 20px 0 0 20px;
}
/* line 49, ../sass/productList.scss */
html body .wrapper .header .nav {
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}
@media screen and (max-width: 905px) {
  /* line 49, ../sass/productList.scss */
  html body .wrapper .header .nav {
    display: none;
  }
}
/* line 59, ../sass/productList.scss */
html body .wrapper .header .nav .nav__list {
  margin: 0;
  padding: 0;
}
/* line 63, ../sass/productList.scss */
html body .wrapper .header .nav .nav__list a {
  text-decoration: none;
  color: #080808;
  text-transform: uppercase;
  font-size: 0.7em;
}
/* line 70, ../sass/productList.scss */
html body .wrapper .header .nav .nav__list li {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
}
/* line 78, ../sass/productList.scss */
html body .wrapper .header .search {
  float: right;
  display: inline-block;
  margin-top: 35px;
  white-space: nowrap;
  vertical-align: middle;
}
@media screen and (max-width: 905px) {
  /* line 78, ../sass/productList.scss */
  html body .wrapper .header .search {
    float: left;
    display: inline-block;
    margin-top: 35px;
    margin-left: 10px;
    white-space: nowrap;
    vertical-align: middle;
  }
}
/* line 94, ../sass/productList.scss */
html body .wrapper .header .search .search__form__icon {
  color: #666666;
}
/* line 100, ../sass/productList.scss */
html body .wrapper .header .search .search__form__input {
  background-color: inherit;
  border: none;
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #080808;
}
/* line 109, ../sass/productList.scss */
html body .wrapper .header .search .search__form__input::-webkit-input-placeholder {
  padding-right: 20px;
}
/* line 116, ../sass/productList.scss */
html body .wrapper .header .user {
  float: right;
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}
@media screen and (max-width: 905px) {
  /* line 116, ../sass/productList.scss */
  html body .wrapper .header .user {
    display: none;
  }
}
/* line 126, ../sass/productList.scss */
html body .wrapper .header .user .user__buttons {
  margin: 0;
  padding: 0;
}
/* line 130, ../sass/productList.scss */
html body .wrapper .header .user .user__buttons li {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
}
/* line 136, ../sass/productList.scss */
html body .wrapper .header .user .user__buttons a {
  text-decoration: none;
  color: #080808;
  text-transform: uppercase;
  font-size: 0.7em;
}
/* line 143, ../sass/productList.scss */
html body .wrapper .header .user .user__buttons .fa {
  margin-right: 5px;
}
/* line 150, ../sass/productList.scss */
html body .wrapper .header .hamburger {
  display: none;
}
@media screen and (max-width: 905px) {
  /* line 150, ../sass/productList.scss */
  html body .wrapper .header .hamburger {
    display: inline-block;
    float: right;
    margin: 35px 30px 0 0;
  }
  /* line 158, ../sass/productList.scss */
  html body .wrapper .header .hamburger .fa {
    font-size: 1.4em;
  }
}
/* line 165, ../sass/productList.scss */
html body .wrapper .header .hide-menu {
  position: absolute;
  width: 200px;
  float: right;
  right: 8px;
  margin-top: 90px;
  margin-left: 0;
  background-color: #f2f9fd;
  display: inline-block;
  margin-right: 0;
  border-top: solid 1px;
  border-color: rgba(11, 15, 23, 0.45);
  z-index: 200;
}
/* line 181, ../sass/productList.scss */
html body .wrapper .header .hide-menu .hide-menu__nav .hide-menu__nav__list {
  list-style-type: none;
  padding-left: 65px;
  text-transform: uppercase;
}
/* line 186, ../sass/productList.scss */
html body .wrapper .header .hide-menu .hide-menu__nav .hide-menu__nav__list a {
  text-decoration: none;
  padding-top: 5px;
  color: #080808;
}
/* line 197, ../sass/productList.scss */
html body .wrapper .header .hide-menu .hide-menu__user__buttons {
  list-style-type: none;
  padding-left: 65px;
  text-transform: uppercase;
}
/* line 202, ../sass/productList.scss */
html body .wrapper .header .hide-menu .hide-menu__user__buttons a {
  text-decoration: none;
  padding-top: 5px;
  color: #080808;
}
/* line 208, ../sass/productList.scss */
html body .wrapper .header .hide-menu .hide-menu__user__buttons .fa {
  margin-right: 5px;
}
/* line 216, ../sass/productList.scss */
html body .wrapper .content {
  width: 100%;
  padding: 0 0 229px;
  margin: 0 auto;
}
@media screen and (max-width: 905px) {
  /* line 216, ../sass/productList.scss */
  html body .wrapper .content {
    padding: 0 0 482px;
  }
}
/* line 226, ../sass/productList.scss */
html body .wrapper .content .product-list {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 235, ../sass/productList.scss */
html body .wrapper .content .product-list .product {
  display: inline-block;
  background-color: #ffffff;
  margin: 10px 10px;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 244, ../sass/productList.scss */
html body .wrapper .content .product-list .product .brand {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  color: #3333333;
}
/* line 251, ../sass/productList.scss */
html body .wrapper .content .product-list .product .model {
  display: block;
  color: #acacac;
  font-weight: lighter;
  font-size: 15px;
}
/* line 258, ../sass/productList.scss */
html body .wrapper .content .product-list .product .price {
  margin-top: 20px;
  display: block;
  color: #333333;
}
/* line 264, ../sass/productList.scss */
html body .wrapper .content .product-list .product img {
  margin-top: 150px;
  width: 90%;
}
/* line 273, ../sass/productList.scss */
html body .wrapper .content .product-list .product-exclusive {
  display: inline-block;
  background-color: #ffffff;
  margin: 10px 10px;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 281, ../sass/productList.scss */
html body .wrapper .content .product-list .product-exclusive .brand {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  color: #3333333;
}
/* line 288, ../sass/productList.scss */
html body .wrapper .content .product-list .product-exclusive .model {
  display: block;
  color: #acacac;
  font-weight: lighter;
  font-size: 15px;
}
/* line 295, ../sass/productList.scss */
html body .wrapper .content .product-list .product-exclusive .price {
  margin-top: 20px;
  display: block;
  color: #333333;
}
/* line 301, ../sass/productList.scss */
html body .wrapper .content .product-list .product-exclusive img {
  margin-top: 150px;
  width: 90%;
}
/* line 310, ../sass/productList.scss */
html body .wrapper .content .product-list .new-product {
  display: inline-block;
  background-color: #ffffff;
  margin: 10px 10px;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 318, ../sass/productList.scss */
html body .wrapper .content .product-list .new-product .brand {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  color: #3333333;
}
/* line 325, ../sass/productList.scss */
html body .wrapper .content .product-list .new-product .model {
  display: block;
  color: #acacac;
  font-weight: lighter;
  font-size: 15px;
}
/* line 332, ../sass/productList.scss */
html body .wrapper .content .product-list .new-product .price {
  margin-top: 20px;
  display: block;
  color: #333333;
}
/* line 338, ../sass/productList.scss */
html body .wrapper .content .product-list .new-product img {
  margin-top: 150px;
  width: 90%;
}
/* line 345, ../sass/productList.scss */
html body .wrapper .content .product-list .product-news {
  display: inline-block;
  background-color: #ffffff;
  margin: 10px 10px;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 352, ../sass/productList.scss */
html body .wrapper .content .product-list .product-news .brand {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  color: #3333333;
}
/* line 359, ../sass/productList.scss */
html body .wrapper .content .product-list .product-news .model {
  display: block;
  color: #acacac;
  font-weight: lighter;
  font-size: 15px;
}
/* line 366, ../sass/productList.scss */
html body .wrapper .content .product-list .product-news .price {
  margin-top: 20px;
  display: block;
  color: #333333;
}
/* line 372, ../sass/productList.scss */
html body .wrapper .content .product-list .product-news img {
  margin-top: 150px;
  width: 90%;
}
/* line 379, ../sass/productList.scss */
html body .wrapper .content .product-list .shop-brand {
  display: inline-block;
  background-color: #ffffff;
  margin: 10px 10px;
  text-align: center;
  width: 280px;
  height: 430px;
}
/* line 392, ../sass/productList.scss */
html body .footer {
  position: relative;
  background-color: #080808;
  max-width: 1280px;
  height: 229px;
  margin: -229px auto 0 auto;
}
@media screen and (max-width: 905px) {
  /* line 392, ../sass/productList.scss */
  html body .footer {
    height: 482px;
    background-color: #080808;
    margin: -482px 0 0 0;
  }
}
/* line 405, ../sass/productList.scss */
html body .footer .footer__logo {
  display: inline-block;
  float: left;
  padding-left: 60px;
  padding-top: 40px;
}
@media screen and (max-width: 905px) {
  /* line 405, ../sass/productList.scss */
  html body .footer .footer__logo {
    width: 100%;
    float: none;
    text-align: center;
    margin: 40px auto 0 auto;
    padding: 0;
    justify-content: center;
  }
}
/* line 421, ../sass/productList.scss */
html body .footer .footer__navigation {
  display: inline-block;
  padding-top: 40px;
}
@media screen and (max-width: 905px) {
  /* line 421, ../sass/productList.scss */
  html body .footer .footer__navigation {
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    text-align: center;
  }
}
/* line 432, ../sass/productList.scss */
html body .footer .footer__navigation ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'BenchNine', sans-serif;
  padding-top: 0;
  margin-top: 0;
  list-style-type: none;
}
@media screen and (max-width: 905px) {
  /* line 432, ../sass/productList.scss */
  html body .footer .footer__navigation ul {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-family: 'BenchNine', sans-serif;
    padding-top: 0;
    margin: 0 20px;
    list-style-type: none;
    padding-left: 0;
  }
}
/* line 455, ../sass/productList.scss */
html body .footer .footer__navigation a {
  color: #666666;
  text-decoration: none;
}
/* line 460, ../sass/productList.scss */
html body .footer .footer__navigation a:hover {
  color: #00b3ee;
}
/* line 465, ../sass/productList.scss */
html body .footer .footer__socials-subs {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 50px;
  margin-right: 1%;
  margin-bottom: 0;
}
@media screen and (max-width: 905px) {
  /* line 465, ../sass/productList.scss */
  html body .footer .footer__socials-subs {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }
}
/* line 479, ../sass/productList.scss */
html body .footer .footer__socials-subs .socials {
  display: block;
}
/* line 482, ../sass/productList.scss */
html body .footer .footer__socials-subs .socials .footer__socials__item {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  max-width: 50px;
  max-height: 50px;
  min-width: 42px;
  min-height: 42px;
  margin: 0 0.5vw;
  border: #555656 1px solid;
  text-align: center;
}
/* line 494, ../sass/productList.scss */
html body .footer .footer__socials-subs .socials .footer__socials__item .fa {
  padding: 15% 0;
  font-size: 200%;
  color: #555656;
}
/* line 502, ../sass/productList.scss */
html body .footer .footer__socials-subs .footer__subscribe {
  display: block;
  float: right;
  border-bottom: solid #252626;
  padding-bottom: 10px;
  width: 94%;
  margin-right: 3%;
  margin-top: 20px;
}
@media screen and (max-width: 905px) {
  /* line 502, ../sass/productList.scss */
  html body .footer .footer__socials-subs .footer__subscribe {
    float: none;
    border-bottom: solid #252626;
    padding-bottom: 10px;
    width: 18vw;
    min-width: 141px;
    text-align: center;
    margin: 20px auto 10px;
  }
}
/* line 521, ../sass/productList.scss */
html body .footer .footer__socials-subs .footer__subscribe .fa {
  color: #555656;
  background-color: inherit;
  font-size: 1em;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1px;
}
/* line 532, ../sass/productList.scss */
html body .footer .footer__socials-subs .footer__subscribe .footer__subscribe__form__input {
  background-color: inherit;
  border: none;
  font-family: 'BenchNine', sans-serif;
  width: auto;
  font-size: 0.9em;
  color: #555656;
  outline: none;
  margin-left: 10px;
}
/* line 545, ../sass/productList.scss */
html body .footer .copyright {
  color: #555656;
  text-align: center;
  padding-bottom: 25px;
}
